<table>
<thead>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Code</th>
  </tr>
</thead>
<tbody>
<% @products.each do |product| %>
  <tr>
    <th><%= product[:name] %></th>
    <th><%= "$#{product.price}" %></th>
    <th><%= "#{product.id}" %></th>
  </tr>
<% end %>
</tbody>
</table>